body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: #1a1a1a;
    background: #ffffff;
    font-family: Merriweather, Georgia, serif;
    font-size: 1rem;
    line-height: 1.75;
}

.site {
    margin: 21px;
}

.site .site-inner {
    margin: 0 auto;
    max-width: 1275px;
    position: relative;
}

.site .site-inner .content-area {
    display: flex;
    gap: 60px;
    padding: 0 4.5455%;
}

.site .site-inner .content-area .site-main {
    width: 65%;
}

main {
    display: block;
}

main {
    width: 1200px;
    margin: 0 auto;
}

.post, .page {
    margin: 0 0 1.5em;
}

body h1 {
    font-family: Montserrat, Georgia, serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.225;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

h1 {
    margin-top: 0;
}

.site .site-inner .content-area .site-main .entry-content .wp-block-image {
    margin: 2em 0 2em;
}

.wp-block-image {
    margin-bottom: 1.2em;
}

.wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.aligncenter, .wp-block-image.alignleft, .wp-block-image.alignright {
    display: table;
}

.wp-block-image figure {
    margin: 0;
}

.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

img {
    border-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.aligncenter {
    clear: both;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

figure {
    margin: 1em 0;
}

p {
    margin-bottom: 1.5em;
}

p {
    font-size: 16px;
}

.site .site-inner .content-area .site-main .post-meta {
    display: flex;
    gap: 6px;
    margin-bottom: 13px;
    font-size: 1rem;
    color: #1a1a1a;
}

.page-content, .entry-content, .entry-summary {
    margin: 1.5em 0 0;
}

.editor-styles-wrapper, .entry-content {
    counter-reset: footnotes;
}

a:visited {
    color: #800080;
}

a {
    background-color: transparent;
}

a {
    color: #4169e1;
}

a {
    color: #1f8afa;
    margin-right: 5px;
}

body h2 {
    font-family: Merriweather, Georgia, serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

h2, h3 {
    margin: 0;
}

b, strong {
    font-weight: bolder;
}

p.has-background {
    padding: 1.25em 2.375em;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

mark {
    background: none;
    color: #1f8afa;
}

@media only screen and (max-width: 950px) {
    .site .site-inner .content-area {
        flex-direction: column;
    }

    .site .site-inner .content-area .site-main {
        width: 100%;
    }

    main {
        max-width: 100%;
        overflow: hidden;
    }
}